/* start global rules */
:root {
    --main-red: #fa5c58;
    --main-red-hover: #d35250;
    --main-text-color: #a3a3a3;
    --section-padding: 40px;
    --main-transition: 0.3s;
    --section-padding: 60px;
}
* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
Html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Montserrat', sans-serif;
}
ul {
    list-style: none;
}
p {
    line-height: 1.6;
}
a {
    text-decoration: none;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 768px ) {
    .container {
        width: 750px
    }
}
@media (min-width: 992px ) {
    .container {
        width: 970px
    }
}
@media (min-width: 1200px ) {
    .container {
        width: 1170px
    }
}
/* start components */
.special-heading {
    text-align: center;
    margin-bottom: 60px
}
.special-heading h2 {
    text-transform: uppercase;
    margin-bottom: 20px;
}
.special-heading p {
    font-weight: 500;
    color: var(--main-text-color);
}
/* end components */
/* end global rules */
/* start header */
header {
    padding: 15px;
    background-color: white;
    position: relative;
}
header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header img {
    width: 148px;
}
header ul {
    display: flex;
}
header ul li {
    padding: 10px;
}
header .container nav i {
    font-size: 30px;
    color: black;
}
@media (min-width: 769px) {
    header .container nav i {
        display: none;
    }
}
@media (max-width: 768px) {
    header .container nav ul {
        display: flex;
        opacity: 0;
        flex-direction: column;
        position: absolute;
        background-color: white;
        top: 100%;
        right: 0;
        width: 100%;
        transition: var(--main-transition);
    }
    header .container nav:hover ul {
        opacity: 1;
        z-index: 11;
    }
}
header ul li a {
    text-transform: uppercase;
    color: var(--main-text-color);
    display: block;
    padding: 10px;
    font-size: 14px;
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    transition: var(--main-transition);
    font-weight: 600;
    border: 1px solid transparent;
}
header ul li a:hover,
header ul li a.active {
    color: black;
    border-color: var(--main-red);
}
/* end header */
/* start landing */
.landing {
    background-image: url("../images/landing.jpg");
    background-size: cover;
    position: relative;
    height: 600px; 
}
.landing::before {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgb(0 0 0 / 25%);
}
.landing .text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    width: 100%;
}
.landing .text-box div {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 15px;
}
.landing .text-box h1 {
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 32px;
}
@media (max-width: 768px) {
    .landing .text-box h1 {
        font-size: 25px;
        margin-top: 20px;
    }
}
.landing .text-box a {
    display: block;
    width: 150px;
    text-align: center;
    padding: 15px;
    color: white;
    background-color: var(--main-red);
    font-weight: 600;
    font-size: 14px;
    margin: 0 auto;
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    transition: var(--main-transition);
}
.landing .text-box a:hover {
    background-color: var(--main-red-hover);
}
/* end landing */
/* start services */
.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.services .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media (max-width: 1200px) {
    .services .container {
        gap: 30px;
    }
}
@media (max-width: 768px) {
    .services .container  {
        flex-direction: column;
        justify-content: center;
    }
}
.services img {
    width: 500px;
}
@media (max-width: 1200px) {
    .services img{
        display: none;
    }
}
.services .box:first-child {
    text-align: right;
}
.services .services-box {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}
.services .services-box:first-child {
    margin-bottom: 50px;
}
.services .box:first-child .services-box {
    flex-direction: row-reverse;
}
@media (max-width: 768px) {
    .services .services-box,
    .services .box:first-child .services-box{
        text-align: center;
        flex-direction: column;
        align-items: center;
    }
}
.services .services-box i {
    font-size: 35px;
    color: var(--main-red);
    background-color: #121215;
    padding: 20px;
    border-radius: 50%
}
.services .services-box h3 {
    margin-bottom: 15px;
}
/* end services */
/* start video */
.video {
    background-image: url("../images/video-section1.jpg");
    background-size: cover;
    height: 400px;
    position: relative;
}
.video .text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    max-width: 100%;
    height: 250px;
    background-color:rgb(0 0 0 / 60%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}
.video .text-box i {
    padding: 10px;
    background-color: var(--main-red);
    border-radius: 50%;
    font-size: 25px;
    margin-bottom: 15px;
    cursor: pointer;
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    transition: var(--main-transition);
}
.video .text-box i:hover {
    background-color: var(--main-red-hover);
}
.video .text-box p {
    font-weight: 600;
    margin-bottom: 10px;
}
/* end video */
/* start portfolio */
.portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.portfolio ul.shuffle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
.portfolio ul.shuffle li {
    padding: 5px 10px;
    border: 1px solid black;
    cursor: pointer;
    font-weight: 500;
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    transition: var(--main-transition);
}
.portfolio ul.shuffle li:hover,
.portfolio ul.shuffle li.active {
    color: white;
    background-color: var(--main-red);
    border-color: var(--main-red);
}
.portfolio .portfolio-boxes-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin-top: 40px;
}
@media (max-width: 768px) {
    .portfolio .portfolio-boxes-container {
        row-gap: 10px;
    }
}
.portfolio .portfolio-box {
    position: relative;
}
.portfolio .portfolio-box img {
    max-width: 100%;
    display: block;
}
.portfolio .portfolio-box .text {
    position: absolute;
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(0 0 0 / 71%);
    top: 5%;
    left: 5%;
    opacity: 0;
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    transition: var(--main-transition);
}
.portfolio .portfolio-box:hover .text {
    opacity: 1;
}
.portfolio .portfolio-box .text div {
    color: white;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
}
.portfolio .portfolio-box .text span {
    color: var(--main-red);
    font-weight: 600;
    cursor: pointer;
}
/* end portfolio */
/* start about us */
.about {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url("../images/about-us.jpg");
    background-size: cover;
    min-height: 400px;
}
.about .text-box {
    width: 300px;
    height: 100%;
    padding: 30px;
    background-color: rgb(0 0 0 / 60%);
    color: white;
}
.about .text-box h2 {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 20px;
    position: relative;
    text-transform: uppercase;
    padding-bottom: 30px;
}
.about .text-box h2::after {
    content: "";
    position: absolute;
    width: 42px;
    height: 3px;
    bottom: -10px;
    left: 0;
    background-color: var(--main-red);
}
.about .text-box a {
    display: block;
    width: 120px;
    text-align: center;
    padding: 12px;
    color: white;
    background-color: var(--main-red);
    font-weight: 600;
    font-size: 14px;
    margin-top: 40px;
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    transition: var(--main-transition);
}
@media (max-width: 768px) {
    .about .text-box {
        text-align: center;
        width: 100%;
    }
    .about .text-box h2 {
        padding-bottom: 10px;
    }
    .about .text-box h2::after {
        left: 50%;
        transform: translateX(-50%)
    }
    .about .text-box p {
        margin-top: 40px;
        padding: 0 15px;
    }
    .about .text-box a {
        margin: 40px auto 0;
    }
}
.about .text-box a:hover {
    background-color: var(--main-red-hover);
}
/* end about us */
/* start team */
.team-section {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.team-section .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 60px;
    margin-top: 40px;
}
.team-section img {
    display: block;
    max-width: 100%;
}
.team-section .team-member {
    position: relative;
}
.team-section .team-member .text {
    position: absolute;
    bottom: 58px;
    width: 100%;
    left: 0;
    background-color: #00000087;
    color: white;
    font-weight: 500;
    padding: 15px;
    text-align: center
}
.team-section .team-member .text p {
    margin-bottom: 10px;
}
.team-section .text .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.team-section .text .icons i {
    font-size: 22px;
    cursor: pointer;
}
.team-section span {
    display: block;
    text-align: center;
    font-weight: 600;
}
.team-section span.name {
    margin: 15px 0 5px;
}
/* end team */
/* start blog */
.blog {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url("../images/blog-section.jpg");
    background-size: cover;
    position: relative;
}
.blog::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 80%);
}
.blog .special-heading {
    position: relative;
    color: white;
}
.blog .boxes-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
@media (max-width: 768px) {
    .blog .boxes-container {
        flex-direction: column
    }
}
.blog img {
    display: block;
    width: 100%;
}
.blog .blog-box {
    background-color: #121215;
}

.blog .blog-box .text {
    padding: 30px;
    color: white;
}
.blog .blog-box .text h3 {
    color: var(--main-red);
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
}
.blog .blog-box .text a {
    display: block;
    margin-top: 20px;
    color: var(--main-red);
    font-weight: 500;
    font-size: 17px;
    width: fit-content;
    margin-left: auto;
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    transition: var(--main-transition);
}

.blog .blog-box .text a:hover {
    color: var(--main-red-hover);
}
@media (max-width: 768px) {
    .blog .blog-box .text {
        text-align: center;
    }
    .blog .blog-box .text p {
        padding: 0 5px;
    }
    .blog .blog-box .text a {
        margin: 20px auto;
    }
}
.blog > i {
    color: white;
    font-size: 30px;
    position: relative;
    background-color: var(--main-red);
    padding: 9px;
    border-radius: 50%;
    margin-top: 40px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    transition: var(--main-transition);
}
.blog > i:hover {
    background-color: var(--main-red-hover);
}
/* end blog */
/* start contact */
.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.contact form {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    justify-content: space-between;
    padding: 0 100px;
}
@media (max-width: 768px) {
    .contact form {
        padding: 0;
    }
}
.contact form input.name,
.contact form input.email {
    width: 49%;
}
@media (max-width: 768px) {
    .contact form input.name,
    .contact form input.email { 
    width: 100%;
}
}
.contact form input.subject,
.contact form input[type="submit"],
textarea {
    width: 100%;
}
textarea {
    height: 200px;
    resize: none;
}
.contact form input[type="submit"] {
    background-color: var(--main-red);
    color: white;
    cursor: pointer;
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    transition: var(--main-transition);
}
.contact form input[type="submit"]:hover {
    background-color: var(--main-red-hover);
}
.contact form input,
textarea {
    background-color: #f3f3f3;
    padding: 15px;
    border: none;
    font-family: 'montserrat', sans-serif;
    color: var(--main-red);
    font-weight: 600;
    font-size: 14px;
}
.contact form input:focus,
textarea:focus {
    outline: none;
}
.contact form input::placeholder,
textarea::placeholder {
    color: var(--main-text-color);
}
.contact .info-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin-top: 60px;
    gap: 30px;
}
.contact .info-container .info-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.contact .info-box i {
    font-size: 28px;
    padding: 15px;
    background-color: var(--main-red);
    color: white;
    border-radius: 50%;
}
.contact .info-box span {
    font-weight: 600;
}
/* end contact */
/* start footer */
footer {
    padding-top: 40px;
    padding-bottom: 10px;
    background-color: black;
    color: white;
    text-align: center;
}
footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px 0 40px;
}
footer ul li i {
    font-size: 25px;
}
footer i {
    cursor: pointer;
}
footer a {
    color: white;
}
/* end footer */